.sfooter {
@media (min-width: 768px)
(max-width: 991px);
}


.img-fluid {
	max-width: 50%;
	height: auto;
}


body {
	background-image: url(../images/upfeathers.png);
}

.about-block {
	text-align: center;
	display: inline;
}

.div.col-lg-4 {

}

div.row {
	color: black;
}

.list-unstyled {
	color: black;
}

.jumbotron {
	background-color: black;
}
.col-xs-6 {
	color: white;
}
div.col-md-4 {
	color: black;
}
.container.col-md-12 {
	background-image: url(../images/canyon.jpg);
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}






