.sfooter {
@media (min-width: 768px)
(max-width: 991px);
}


.nav.navbar.navbar.inverse {
	width: 100%;
}
.img-fluid {
	max-width: 50%;
	height: auto;


}

body {
	background-image: url(../images/upfeathers.png);
}

.about-block {
	text-align: center;
	display: inline;
}

.div.col-lg-4 {

}

div.row {
	color: black;
}








/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}






