.sfooter {
@media (min-width: 768px)
(max-width: 991px);
}
a .navbar-brand.topnav {
	font-family: 'Satisfy', cursive;

}
.about-block {
	font-family: 'Just Another Hand', cursive;
	font-size: 30px;
}

header {
	text-align: center;
}
.intro-header {
	background-image: url(../images/dev-web.jpg);
	background-size: cover;

}
header .container {
	padding-top: 200px;
	padding-bottom: 100px;
}

.img-fluid {
	max-width: 50%;
	height: auto;
}

.col-lg-12 {
	width: 100%;
}


.about-block {
	text-align: center;
	display: inline;
}

.main {
	display: inline-block;
	text-align: center;
}

div.row {
	color: black;
}

.list-unstyled {
	color: black;
}

.jumbotron {
	background-color: black;
	background-image: url(../images/laptop-second.jpg);
	background-size: cover;
}
.col-xs-6 {
	color: white;
}
div.col-md-4 {
	color: black;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}






